config/DOI_SLB_Teraco.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WaspInterfaceService" targetNamespace="http://wasp.doi.soap.protocol.cellc.co.za" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wasp.doi.soap.protocol.cellc.co.za" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wasp.doi.soap.protocol.cellc.co.za" elementFormDefault="unqualified" targetNamespace="http://wasp.doi.soap.protocol.cellc.co.za" version="1.0">
<xs:element name="addSubscription" type="tns:addSubscription"/>
<xs:element name="addSubscriptionResponse" type="tns:addSubscriptionResponse"/>
<xs:element name="cancelSubscription" type="tns:cancelSubscription"/>
<xs:element name="cancelSubscriptionResponse" type="tns:cancelSubscriptionResponse"/>
<xs:element name="chargeSubscriber" type="tns:chargeSubscriber"/>
<xs:element name="chargeSubscriberResponse" type="tns:chargeSubscriberResponse"/>
<xs:element name="getServices" type="tns:getServices"/>
<xs:element name="getServicesResponse" type="tns:getServicesResponse"/>
<xs:element name="renotifySubscriber" type="tns:renotifySubscriber"/>
<xs:element name="renotifySubscriberResponse" type="tns:renotifySubscriberResponse"/>
<xs:complexType name="renotifySubscriber">
<xs:sequence>
<xs:element minOccurs="0" name="msisdn" type="xs:string"/>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
<xs:element minOccurs="0" name="waspTID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="renotifySubscriberResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="response">
<xs:sequence>
<xs:element minOccurs="0" name="result" type="xs:string"/>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
<xs:element minOccurs="0" name="waspReference" type="xs:string"/>
<xs:element minOccurs="0" name="waspTID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getServices">
<xs:sequence>
<xs:element minOccurs="0" name="msisdn" type="xs:string"/>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
<xs:element minOccurs="0" name="waspTID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getServicesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:servicesListResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="servicesListResponse">
<xs:sequence>
<xs:element minOccurs="0" name="chargeCode" type="xs:string"/>
<xs:element minOccurs="0" name="chargeInterval" type="xs:string"/>
<xs:element minOccurs="0" name="contentProvider" type="xs:string"/>
<xs:element minOccurs="0" name="contentType" type="xs:string"/>
<xs:element minOccurs="0" name="lastBilled" type="xs:string"/>
<xs:element minOccurs="0" name="msisdn" type="xs:string"/>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
<xs:element minOccurs="0" name="serviceName" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="subscriptionTime" type="xs:string"/>
<xs:element minOccurs="0" name="timeCreated" type="xs:string"/>
<xs:element minOccurs="0" name="waspReference" type="xs:string"/>
<xs:element minOccurs="0" name="waspTID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="chargeSubscriber">
<xs:sequence>
<xs:element minOccurs="0" name="msisdn" type="xs:string"/>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
<xs:element minOccurs="0" name="waspTID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="chargeSubscriberResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelSubscription">
<xs:sequence>
<xs:element minOccurs="0" name="msisdn" type="xs:string"/>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
<xs:element minOccurs="0" name="waspTID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelSubscriptionResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:servicesListResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addSubscription">
<xs:sequence>
<xs:element minOccurs="0" name="msisdn" type="xs:string"/>
<xs:element minOccurs="0" name="serviceName" type="xs:string"/>
<xs:element minOccurs="0" name="contentProvider" type="xs:string"/>
<xs:element minOccurs="0" name="chargeCode" type="xs:string"/>
<xs:element minOccurs="0" name="chargeInterval" type="xs:string"/>
<xs:element minOccurs="0" name="contentType" type="xs:string"/>
<xs:element minOccurs="0" name="bearerType" type="xs:string"/>
<xs:element minOccurs="0" name="waspReference" type="xs:string"/>
<xs:element minOccurs="0" name="waspTID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addSubscriptionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:response"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="chargeSubscriberResponse">
    <wsdl:part name="parameters" element="tns:chargeSubscriberResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServicesResponse">
    <wsdl:part name="parameters" element="tns:getServicesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSubscription">
    <wsdl:part name="parameters" element="tns:addSubscription">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelSubscription">
    <wsdl:part name="parameters" element="tns:cancelSubscription">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renotifySubscriberResponse">
    <wsdl:part name="parameters" element="tns:renotifySubscriberResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSubscriptionResponse">
    <wsdl:part name="parameters" element="tns:addSubscriptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServices">
    <wsdl:part name="parameters" element="tns:getServices">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelSubscriptionResponse">
    <wsdl:part name="parameters" element="tns:cancelSubscriptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renotifySubscriber">
    <wsdl:part name="parameters" element="tns:renotifySubscriber">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chargeSubscriber">
    <wsdl:part name="parameters" element="tns:chargeSubscriber">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WaspInterface">
    <wsdl:operation name="renotifySubscriber">
      <wsdl:input name="renotifySubscriber" message="tns:renotifySubscriber">
    </wsdl:input>
      <wsdl:output name="renotifySubscriberResponse" message="tns:renotifySubscriberResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <wsdl:input name="getServices" message="tns:getServices">
    </wsdl:input>
      <wsdl:output name="getServicesResponse" message="tns:getServicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chargeSubscriber">
      <wsdl:input name="chargeSubscriber" message="tns:chargeSubscriber">
    </wsdl:input>
      <wsdl:output name="chargeSubscriberResponse" message="tns:chargeSubscriberResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSubscription">
      <wsdl:input name="cancelSubscription" message="tns:cancelSubscription">
    </wsdl:input>
      <wsdl:output name="cancelSubscriptionResponse" message="tns:cancelSubscriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubscription">
      <wsdl:input name="addSubscription" message="tns:addSubscription">
    </wsdl:input>
      <wsdl:output name="addSubscriptionResponse" message="tns:addSubscriptionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WaspInterfaceServiceSoapBinding" type="tns:WaspInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="renotifySubscriber">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="renotifySubscriber">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="renotifySubscriberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chargeSubscriber">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="chargeSubscriber">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="chargeSubscriberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getServices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubscription">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addSubscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addSubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSubscription">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelSubscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelSubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaspInterfaceService">
    <wsdl:port name="WaspInterfacePort" binding="tns:WaspInterfaceServiceSoapBinding">
      <soap:address location="http://localhost:8081/WaspInterface"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
